html,body{
    font-family: 'arial';
    font-size:1.1rem;

}
a{
    color: rgb(32, 32, 32);
    padding: 0.2rem;

}

/* Will be applied the active link as well as it's descendant and ancestors */
[data-active] {
    background-color: yellow;
}

/* Will be applied to the active link */
[data-active="active"] {
    color: black;
	border:2px solid red;
    font-weight: 900;
}
[data-active="active"]::before {
    content: "🧔🏻‍♂️ ";
}

/* Will be applied to links that are ancestors of the active link. */
[data-active="ancestor"] {
    color: rgb(172, 86, 52);
}
[data-active="ancestor"]::before {
    content: "👴🏻 ";
}

/* Will be applied to links that are decendants of the active link. */
[data-active="descendant"] {
    color: rgb(55, 84, 211);
}
[data-active="descendant"]::before {
    content: "👶🏻 ";
}